<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meals.sys.mapper.SysAuthMapper">
    <select id="getAuthTreeByFilter" resultType="com.meals.sys.entity.SysAuth">
        SELECT * FROM `sys_auth` a
        WHERE a.`status` = 1
        AND a.`type` = #{type}
        AND a.`pid` = #{pid}
        AND a.`level` = #{level}
        <if test="filter!=null and filter!=''">
            AND a.`id` IN
            <foreach item="item" index="index" collection="filter" open="("  close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>
