<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mebugs.sys.mapper.SysUserRoleMapper">
    <select id="allList" parameterType="java.lang.String">
        SELECT r.role_key FROM `sys_user_role` ur
        LEFT JOIN `sys_role` r ON ur.rid = r.id
        WHERE ur.uid = #{id}
    </select>
</mapper>
