<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meals.sys.mapper.SysUserAuthMapper">
    <select id="getUserAuthIds"  resultType="java.lang.Long">
        SELECT a.aid FROM `sys_user_auth` a WHERE a.uid = ${id}
    </select>
    <select id="getUserAuthKeys" resultType="java.lang.String">
        SELECT s.authKey FROM `sys_user_auth` a
        LEFT JOIN `sys_auth` s ON s.id = a.aid
        WHERE a.uid = #{id}
    </select>
</mapper>
